
<%- include('partials/head') %>

<body>
    <%- include('partials/navbar') %>
    
    <h1>All cats</h1>
    <% for (let cat of cats){ %>
        <li>
            <%= cat %>
        </li>
     <% } %>
</body>

</html>