<%- include('partials/head') %>

<body>
    <%- include('partials/navbar') %>
    <h1>The home page <%= 'Hello World' %>
    </h1>
    <p>asdfafasdfaaaaaasdfasddddddddddddfasdfasd
        sdfasfasdfasddddddddddddddddddfasdf
    </p>
    <p>Hellooo</p>

</body>

</html>